/__pycache__
/db/__pycache__
/storage/__pycache__
/task/__pycache__
/utils/__pycache__
/auth/__pycache__
/routes/__pycache__
/views/__pycache__
/exceptions/__pycache__

/data/*
/data/merged/*
/data/tmp/*

/celerybeat.pid
/celerybeat-schedule
