<!DOCTYPE html>
<html>

<head>
    <title>Video Display</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.css"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css">
</head>

<body>

<div>
    <h1>Video Display</h1>
    <div>
        <video width="800" height="600" controls>
            <source src="http://localhost:5001/file/content?key=IA95j小王子.mp4&realname=IA95j小王子.mp4&timestamp=1583687685.84034&sign=7997ffa6781a15a24a7ff273c6e628a4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
</body>

</html>